doctype html
html(lang='en')
	head
		title Museum Industrial Complex
		meta(charset='UTF-8')
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Muli|Slabo+27px', rel='stylesheet')
		link(href='/css/main.css',rel='stylesheet')
	body
		main#main
			header.pagehead
				h1 Museum Industrial Complex
				h2 Protecting your cultural investment
			nav.mainnav
				ul
					li: a(href="#about") About
					li: a(href="#services") Services
					li: a(href="#contact") Contact
			img.deart(src="img/object-de-art.svg", alt="art")
			section#about
				.copy
					h1 About
					include:markdown-it about.md
				img.art(src="img/object2.svg", alt="art")
				a.to-top(href="#main") ▲ top
			section#services
				.copy
					h1 Services
					include:markdown-it services.md
				img.art(src="img/object3.svg", alt="art")
				a.to-top(href="#main") ▲ top
			section#contact
				.copy
					h1 Contact
					p Please enter your zip code to be connected to a museum in your area.
					form#contact-form
						input#zip(type="text", name="zip", placeholder="Enter 5-digit, US ZIP code", pattern="[0-9]{5}")
						button#submit(type="button", disabled) Go 
						p.err Oh! Sorry. You weren’t supposed to see this.
						p.err This is not for you.
						p.err You should reconsider.
						p.err No.
						p.err Stop.
						p.err Honey, no.
						p.err This is really for other people. Not you.
				a.to-top(href="#main") ▲ top
		script
			include scripts/fixed-menu.js
			include scripts/honey-no.js
			include scripts/fade-out.js